

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

/* Custom SweetAlert z-index */
.swal2-container {
  z-index: 9999999 !important; /* You can adjust this value as needed */
}

.zoomin {
    animation: zoomIn 0.3s ease-out forwards;
}

/* .zoomout {
    animation: zoomOut 0.3s ease-out forwards;
} */

#image-viewer {
    transform-origin: center; /* Ensures the zoom happens from the center */
    transition: visibility 0.3s ease, opacity 0.3s ease;
}
.hidden {
    display: none;
}

  
  #image-viewer div {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #image-viewer div img {
    display: block;
    width: 100%;
    max-width: 1000px;
    max-height: 90vh;
    border-radius: 8px;
    animation: showImage 0.5s;
  }
  
  @keyframes  showImage {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  #close {
    position: absolute;
    top: 25px;
    right: 105px;
    color: white;
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #close:hover, #close:focus {
    opacity: 0.8;
  }
  
  @media  screen and (max-width: 700px) {
    .viewer {
      width: 100%;
    }
}